@font-face {
  font-family: "Outward";
  src: url("outward-round-webfont.woff2") format("woff2");
}
* {
	margin: 0px;
	padding-top: 10px;
	box-sizing: border-box;
}

body {
	background: lime;
	background-size: cover;
}

.marquee {
  position: relative;
  display: flex;
  height: 80px;
  user-select: none;
  gap: 2rem;
  padding-top: 50px;
  padding-bottom: 50px;
}

.marquee__group {
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  min-width: 100%;
  animation: scroll 50s linear infinite;
}

.marquee__group span {
  color: black;
  font-size: 150px;
  font-weight: 100;
  white-space: nowrap;
  font-family: 'Outward', monospace;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 30px));
  }
}

.columns {
  width: 100%; 
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
}

.column-1 {
  padding: 10px;
}

p {
  font-family: 'Outward', monospace;
  color: black;
  font-size: 50px;
  font-weight: 20;
  font-stretch: ultra-expanded;
}

.column-1:hover {
  background-color: darkorange;
  transition: background-color 0.5s ease-in 20ms;
}

.column-item:hover {
  background-color: darkorange;
  transition: background-color 0.5s ease-in 20ms;
}
